
$light-primary-color: #a098ff;
$primary-color: #7B70FC;
$dark-primary-color: #493cde;

$other-white: #f7eded;

$white-color: #FFFFFF;
$black-color: #000000;
$gray-color: #646464;
$background-color: #F1F2FB;